<!DOCTYPE html>
<html>
<!--
      // onLoad:    [ONLOAD]
      // authorize: [AUTHORIZE]
      // lang:      [LANG_LOCALE]
-->
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key:    <%= IN_KEY %>
      onLoad:     onLinkedInLoad
  </script>

<script type="text/javascript">
  // Setup an event listener to make an API call once auth is complete
  function onLinkedInLoad() {
    var api_key = "<%= IN_KEY %>"
    if (!api_key) {
      $('#apiKey').text('Not found! Set your api key with export LI_CLIENT_ID=xxxxx');
    } else {
      $('#apiKey').text("check");
    }
    IN.Event.on(IN, "auth", getProfileData);
  }

  // Logout user
  function logout(){
    IN.User.logout(onLogout);
  }

  function onLogout(){
    console.log('Logout successfully');
  }

  // Use the API call wrapper to request the member's basic profile data
  function getProfileData() {
 
   IN.API.Profile("me").fields("first-name", "last-name", "email-address","picture-url").result(function (data) {
    
    var userdata = data.values[0];
    console.log(userdata)

    $.ajax({
     url: "users/create",
     type: "get",
     data: {"social_type": "linkedin","firstName": userdata.firstName,"lastName": userdata.lastName,"email": userdata.emailAddress, "pictureUrl": userdata.pictureUrl },
     success: function(response){

      $('#tableUser').css('display','block');
      $('#fullname').text( userdata.firstName + " " + userdata.lastName);
      // $('#email').text( userdata.emailAddress );
      $('#profile_photo').attr( 'src',userdata.pictureUrl );
      logout();
     }
   });

  }).error(function (data) {
    console.log(data);
  });
 }

 </script>
 </head>
 <body>
  <!-- LinkedIn signin button -->
  <script type="in/Login"></script>
  <!-- <table id='tableUser' style='display: none;'> -->
  <table id='tableUser'>
   <tr>
     <td>Api key set?</td>
     <td><span id='apiKey'></span></td>
   </tr>
   <tr>
     <td>Name</td>
     <td><span id='fullname'></span></td>
   </tr>

   <tr>
    <td>Email</td>
    <td><span id='email'></span></td>
   </tr>

   <tr>
    <td>Profile image</td>
    <td><img src='' width='32' height='32' id='profile_photo'></td>
   </tr>

  </table>
 </body>
</html>